# Data Science Project

Importando las bilbiotecas empleadas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import re, functools
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler
from sklearn.model_selection import train_test_split

Leyendo el archivo del conjunto de datos filtrando las dos columnas a usar:

In [2]:
dataframe = (pd.read_csv("futbol.csv")).filter(["ID", "Age", "Nationality","Club","Value", "Wage", "Preferred Foot", "Position", "Joined","Loaned From", "Contract Valid Until", "Height", "Weight", "Release Clause"]).rename(columns={"Preferred Foot":'Preferred_foot', 'Loaned From': 'Loaned_from', 'Contract Valid Until':'Contract_Valid_Until', 'Release Clause': 'Release_clause'})

Visualización del marco de datos importados

In [3]:
dataframe

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Joined,Loaned_from,Contract_Valid_Until,Height,Weight,Release_clause
0,158023,31,Argentina,FC Barcelona,€110.5M,€565K,Left,RF,"Jul 1, 2004",NaN,2021,5'7,159lbs,€226.5M
1,20801,33,Portugal,Juventus,€77M,€405K,Right,ST,"Jul 10, 2018",NaN,2022,6'2,183lbs,€127.1M
2,190871,26,Brazil,Paris Saint-Germain,€118.5M,€290K,Right,LW,"Aug 3, 2017",NaN,2022,5'9,150lbs,€228.1M
3,193080,27,Spain,Manchester United,€72M,€260K,Right,GK,"Jul 1, 2011",NaN,2020,6'4,168lbs,€138.6M
4,192985,27,Belgium,Manchester City,€102M,€355K,Right,RCM,"Aug 30, 2015",NaN,2023,5'11,154lbs,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,England,Crewe Alexandra,€60K,€1K,Right,CM,"May 3, 2017",NaN,2019,5'9,134lbs,€143K
18203,243165,19,Sweden,Trelleborgs FF,€60K,€1K,Right,ST,"Mar 19, 2018",NaN,2020,6'3,170lbs,€113K
18204,241638,16,England,Cambridge United,€60K,€1K,Right,ST,"Jul 1, 2017",NaN,2021,5'8,148lbs,€165K
18205,246268,17,England,Tranmere Rovers,€60K,€1K,Right,RW,"Apr 24, 2018",NaN,2019,5'10,154lbs,€143K
18206,246269,16,England,Tranmere Rovers,€60K,€1K,Right,CM,"Oct 30, 2018",NaN,2019,5'10,176lbs,€165K

Visualizar cantidad de datos nulos por columna

In [4]:
pd.DataFrame(dataframe.isnull().sum(), columns=['Datos nulos'])

                      Datos nulos
ID                              0
Age                             0
Nationality                     0
Club                          241
Value                           0
Wage                            0
Preferred_foot                 48
Position                       60
Joined                       1553
Loaned_from                 16943
Contract_Valid_Until          289
Height                         48
Weight                         48
Release_clause               1564

Mencionar que los datos nulos importantes son todos los que no sean de club y release clause porque se pueden sustituir valores

Visualizar cuáles de lso datos nulos se intersecan

In [5]:
dataframe[dataframe.Preferred_foot.isnull() & dataframe.Position.isnull() & dataframe.Joined.isnull() & dataframe.Loaned_from.isnull() & dataframe.Contract_Valid_Until.isnull() & dataframe.Height.isnull() & dataframe.Weight.isnull()]

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Joined,Loaned_from,Contract_Valid_Until,Height,Weight,Release_clause
13236,177971,33,Scotland,Rochdale,€120K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13237,195380,29,Nicaragua,Boyacá Chicó FC,€300K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13238,139317,35,England,Notts County,€140K,€3K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13239,240437,20,Italy,Brescia,€425K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13240,209462,24,England,Hamilton Academical FC,€400K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13241,219702,21,Poland,Śląsk Wrocław,€425K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13242,225590,23,Argentina,Club Atlético Aldosivi,€450K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13243,233782,19,England,Everton,€600K,€5K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13244,239158,30,Denmark,Hobro IK,€230K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13245,242998,21,Brazil,HJK Helsinki,€425K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13246,244022,22,France,AS Béziers,€425K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13247,189238,28,Austria,SV Mattersburg,€240K,€3K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13248,211511,24,Northern Ireland,Tranmere Rovers,€375K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13249,224055,27,China PR,Shanghai Greenland Shenhua FC,€250K,€3K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13250,244535,29,Paraguay,Itagüí Leones FC,€300K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13251,134968,34,Belgium,NAC Breda,€150K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13252,225336,22,Albania,Malmö FF,€375K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13253,171320,31,Scotland,Carlisle United,€200K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13254,246328,17,Germany,VfB Stuttgart,€550K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13255,196921,25,Germany,Hamilton Academical FC,€325K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13256,202809,26,England,Dundee FC,€325K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13257,226617,25,Korea Republic,Suwon Samsung Bluewings,€375K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13258,230713,23,Saudi Arabia,Al Wehda,€350K,€3K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13259,234809,27,Chile,CD Palestino,€300K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13260,246073,20,Spain,Albacete BP,€425K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13261,221498,25,Saudi Arabia,Al Nassr,€300K,€5K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13262,244026,24,Germany,TSV 1860 München,€325K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13263,244538,25,Austria,FC Admira Wacker Mödling,€325K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13264,201019,29,France,Grenoble Foot 38,€300K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13265,221499,28,England,Oldham Athletic,€300K,€3K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13266,237371,20,Sweden,Hammarby IF,€525K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13267,242491,22,Colombia,Itagüí Leones FC,€450K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13268,153148,37,Poland,Miedź Legnica,€100K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13269,244540,26,Colombia,Jaguares de Córdoba,€375K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13270,245564,19,Brazil,Bologna,€525K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13271,213821,26,Chile,CD Antofagasta,€290K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13272,240701,22,Scotland,Dundee FC,€450K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13273,242237,25,Estonia,Kristiansund BK,€400K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13274,244029,27,Italy,TSV 1860 München,€325K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13275,244541,23,Venezuela,Boyacá Chicó FC,€375K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13276,211006,26,Saudi Arabia,Al Raed,€290K,€3K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13277,215102,26,Chile,Deportes Iquique,€325K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13278,246078,17,Netherlands,FC Utrecht,€550K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13279,239679,22,Italy,Perugia,€350K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13280,244543,19,France,Montpellier HSC,€650K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13281,212800,27,Korea Republic,Gyeongnam FC,€300K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13282,231232,25,Mexico,Tiburones Rojos de Veracruz,€375K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13283,232256,25,China PR,Guizhou Hengfeng FC,€325K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Eliminar esos 48 jugadores

In [6]:
dataframe.dropna(subset=['Position'], inplace=True)
dataframe

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Joined,Loaned_from,Contract_Valid_Until,Height,Weight,Release_clause
0,158023,31,Argentina,FC Barcelona,€110.5M,€565K,Left,RF,"Jul 1, 2004",NaN,2021,5'7,159lbs,€226.5M
1,20801,33,Portugal,Juventus,€77M,€405K,Right,ST,"Jul 10, 2018",NaN,2022,6'2,183lbs,€127.1M
2,190871,26,Brazil,Paris Saint-Germain,€118.5M,€290K,Right,LW,"Aug 3, 2017",NaN,2022,5'9,150lbs,€228.1M
3,193080,27,Spain,Manchester United,€72M,€260K,Right,GK,"Jul 1, 2011",NaN,2020,6'4,168lbs,€138.6M
4,192985,27,Belgium,Manchester City,€102M,€355K,Right,RCM,"Aug 30, 2015",NaN,2023,5'11,154lbs,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,England,Crewe Alexandra,€60K,€1K,Right,CM,"May 3, 2017",NaN,2019,5'9,134lbs,€143K
18203,243165,19,Sweden,Trelleborgs FF,€60K,€1K,Right,ST,"Mar 19, 2018",NaN,2020,6'3,170lbs,€113K
18204,241638,16,England,Cambridge United,€60K,€1K,Right,ST,"Jul 1, 2017",NaN,2021,5'8,148lbs,€165K
18205,246268,17,England,Tranmere Rovers,€60K,€1K,Right,RW,"Apr 24, 2018",NaN,2019,5'10,154lbs,€143K
18206,246269,16,England,Tranmere Rovers,€60K,€1K,Right,CM,"Oct 30, 2018",NaN,2019,5'10,176lbs,€165K

Revisando los datos nulos de nuevo, se observa que ahora 229 no tienen lub y esos mismos 229 son los que no han de tener contrato

In [7]:
pd.DataFrame(dataframe.isnull().sum(), columns=['Datos nulos'])

                      Datos nulos
ID                              0
Age                             0
Nationality                     0
Club                          229
Value                           0
Wage                            0
Preferred_foot                  0
Position                        0
Joined                       1493
Loaned_from                 16883
Contract_Valid_Until          229
Height                          0
Weight                          0
Release_clause               1504

Buscamos la intersección de las variables con valores nulos así como se hizo el paso anterior

In [8]:
dataframe[dataframe.Contract_Valid_Until.isnull() & dataframe.Joined.isnull() & dataframe.Loaned_from.isnull()]

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Joined,Loaned_from,Contract_Valid_Until,Height,Weight,Release_clause
452,207439,24,Argentina,NaN,€0,€0,Right,CM,NaN,NaN,NaN,5'11,165lbs,NaN
538,156713,33,Sweden,NaN,€0,€0,Right,LCB,NaN,NaN,NaN,6'4,185lbs,NaN
568,229909,26,Russia,NaN,€0,€0,Right,GK,NaN,NaN,NaN,6'2,176lbs,NaN
677,187347,29,Russia,NaN,€0,€0,Right,RB,NaN,NaN,NaN,5'10,154lbs,NaN
874,187607,29,Russia,NaN,€0,€0,Right,ST,NaN,NaN,NaN,6'5,201lbs,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16947,225489,23,Iceland,NaN,€0,€0,Right,GK,NaN,NaN,NaN,6'5,187lbs,NaN
16976,236774,21,India,NaN,€0,€0,Left,LW,NaN,NaN,NaN,5'9,154lbs,NaN
17008,234234,27,Bulgaria,NaN,€0,€0,Right,LDM,NaN,NaN,NaN,6'0,163lbs,NaN
17197,245164,21,India,NaN,€0,€0,Right,GK,NaN,NaN,NaN,6'2,176lbs,NaN
17215,243131,26,Finland,NaN,€0,€0,Right,RB,NaN,NaN,NaN,6'4,187lbs,NaN

Se eliminan esas 229 filas

In [9]:
dataframe.dropna(subset=['Contract_Valid_Until'], inplace=True)
dataframe

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Joined,Loaned_from,Contract_Valid_Until,Height,Weight,Release_clause
0,158023,31,Argentina,FC Barcelona,€110.5M,€565K,Left,RF,"Jul 1, 2004",NaN,2021,5'7,159lbs,€226.5M
1,20801,33,Portugal,Juventus,€77M,€405K,Right,ST,"Jul 10, 2018",NaN,2022,6'2,183lbs,€127.1M
2,190871,26,Brazil,Paris Saint-Germain,€118.5M,€290K,Right,LW,"Aug 3, 2017",NaN,2022,5'9,150lbs,€228.1M
3,193080,27,Spain,Manchester United,€72M,€260K,Right,GK,"Jul 1, 2011",NaN,2020,6'4,168lbs,€138.6M
4,192985,27,Belgium,Manchester City,€102M,€355K,Right,RCM,"Aug 30, 2015",NaN,2023,5'11,154lbs,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,England,Crewe Alexandra,€60K,€1K,Right,CM,"May 3, 2017",NaN,2019,5'9,134lbs,€143K
18203,243165,19,Sweden,Trelleborgs FF,€60K,€1K,Right,ST,"Mar 19, 2018",NaN,2020,6'3,170lbs,€113K
18204,241638,16,England,Cambridge United,€60K,€1K,Right,ST,"Jul 1, 2017",NaN,2021,5'8,148lbs,€165K
18205,246268,17,England,Tranmere Rovers,€60K,€1K,Right,RW,"Apr 24, 2018",NaN,2019,5'10,154lbs,€143K
18206,246269,16,England,Tranmere Rovers,€60K,€1K,Right,CM,"Oct 30, 2018",NaN,2019,5'10,176lbs,€165K

Se hace una tercera revisión de valores nulos

In [10]:
pd.DataFrame(dataframe.isnull().sum(), columns=['Datos nulos'])

                      Datos nulos
ID                              0
Age                             0
Nationality                     0
Club                            0
Value                           0
Wage                            0
Preferred_foot                  0
Position                        0
Joined                       1264
Loaned_from                 16654
Contract_Valid_Until            0
Height                          0
Weight                          0
Release_clause               1275

Visualizando el datase, se puede observar que la columna de Joined es excluyente con Loaned From.

Esto se comprueba imprimiendo los valores que sean nulos de Loaned From y los valores no nulos de Joined. Se puede observar que la cantidad de filas de haber aplicado el filtrado son la totalidad del nuevo dataframe después de haber realizado todas las eliminaciones de filas

In [11]:
dataframe[dataframe.Loaned_from.isnull() & dataframe.Joined.isnull()==False]

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Joined,Loaned_from,Contract_Valid_Until,Height,Weight,Release_clause
0,158023,31,Argentina,FC Barcelona,€110.5M,€565K,Left,RF,"Jul 1, 2004",NaN,2021,5'7,159lbs,€226.5M
1,20801,33,Portugal,Juventus,€77M,€405K,Right,ST,"Jul 10, 2018",NaN,2022,6'2,183lbs,€127.1M
2,190871,26,Brazil,Paris Saint-Germain,€118.5M,€290K,Right,LW,"Aug 3, 2017",NaN,2022,5'9,150lbs,€228.1M
3,193080,27,Spain,Manchester United,€72M,€260K,Right,GK,"Jul 1, 2011",NaN,2020,6'4,168lbs,€138.6M
4,192985,27,Belgium,Manchester City,€102M,€355K,Right,RCM,"Aug 30, 2015",NaN,2023,5'11,154lbs,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,England,Crewe Alexandra,€60K,€1K,Right,CM,"May 3, 2017",NaN,2019,5'9,134lbs,€143K
18203,243165,19,Sweden,Trelleborgs FF,€60K,€1K,Right,ST,"Mar 19, 2018",NaN,2020,6'3,170lbs,€113K
18204,241638,16,England,Cambridge United,€60K,€1K,Right,ST,"Jul 1, 2017",NaN,2021,5'8,148lbs,€165K
18205,246268,17,England,Tranmere Rovers,€60K,€1K,Right,RW,"Apr 24, 2018",NaN,2019,5'10,154lbs,€143K
18206,246269,16,England,Tranmere Rovers,€60K,€1K,Right,CM,"Oct 30, 2018",NaN,2019,5'10,176lbs,€165K

Comprobamos si la dimensión de los datos filtrados en la celda anterior son iguales al dataframe con las filas eliminadas

In [12]:
dataframe[dataframe.Loaned_from.isnull() & dataframe.Joined.isnull()==False].values.shape == dataframe.shape

True

Sabiendo que son Loaned From es excluyente de Joined y que son de tipo cadena con información compleja.
Hay que recordar que Joined se refiere a la fecha que el jugador se unió al club al que pertenece actualmente
Loaned From se refiere al club al que fue prestado incluyendo la fecha 
Se realizará una nueva variable que sea de tipo booleana que indique si está en préstamo es verdadero (significa que hay información en Loaned From), y falso si no lo está (significa que hay información en Joined)

Se cambia el nombre de la columna de Joined a Loaned, ya que la información contenida no va a ser necesaria y se evita crear una nueva columna en el dataframe

In [13]:
dataframe = dataframe.rename({'Joined': 'Loaned'}, axis=1)

Se pretende cambiar los valores nulos de Loaned (valores originales a Joined) a True indicando que están en préstamo y a False las celdas que sí tengan indicando que no está en préstamo

In [14]:
dataframe.Loaned = (dataframe.Loaned.isnull())

Para comprobar que el resultado es el deseado, se imprime Loaned = True y en Loaned From debe contener datos no nulos

In [15]:
dataframe[dataframe.Loaned == True].head(n=10)

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Loaned,Loaned_from,Contract_Valid_Until,Height,Weight,Release_clause
28,198710,26,Colombia,FC Bayern München,€69.5M,€315K,Left,LAM,True,Real Madrid,"Jun 30, 2019",5'11,172lbs,NaN
38,167664,30,Argentina,Milan,€57M,€245K,Right,LS,True,Juventus,"Jun 30, 2019",6'1,196lbs,NaN
91,187961,29,Brazil,Guangzhou Evergrande Taobao FC,€37M,€235K,Right,LDM,True,FC Barcelona,"Jun 30, 2019",6'0,157lbs,NaN
166,212523,24,Brazil,Guangzhou Evergrande Taobao FC,€36.5M,€18K,Left,CAM,True,SL Benfica,"Dec 31, 2018",6'3,176lbs,NaN
176,207410,24,Croatia,Chelsea,€35M,€165K,Right,LCM,True,Real Madrid,"Jun 30, 2019",5'9,172lbs,NaN
332,216409,24,Italy,Inter,€22.5M,€57K,Left,RM,True,Sassuolo,"Jun 30, 2019",5'7,148lbs,NaN
354,203890,26,Croatia,Inter,€18M,€57K,Right,RB,True,Atlético Madrid,"Jun 30, 2019",5'11,168lbs,NaN
357,202685,27,Italy,Torino,€21M,€48K,Left,RS,True,Valencia CF,"Jun 30, 2019",6'1,185lbs,NaN
427,226226,22,Argentina,Real Betis,€20M,€72K,Left,RCM,True,Paris Saint-Germain,"Jun 30, 2019",5'9,154lbs,NaN
434,219809,23,France,Milan,€17M,€85K,Right,LCM,True,Chelsea,"Jun 30, 2019",6'2,187lbs,NaN

Se imprime Loaned = False y en Loaned From debe contener datos nulos

In [16]:
dataframe[dataframe.Loaned == False].head(n=10)

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Loaned,Loaned_from,Contract_Valid_Until,Height,Weight,Release_clause
0,158023,31,Argentina,FC Barcelona,€110.5M,€565K,Left,RF,False,NaN,2021,5'7,159lbs,€226.5M
1,20801,33,Portugal,Juventus,€77M,€405K,Right,ST,False,NaN,2022,6'2,183lbs,€127.1M
2,190871,26,Brazil,Paris Saint-Germain,€118.5M,€290K,Right,LW,False,NaN,2022,5'9,150lbs,€228.1M
3,193080,27,Spain,Manchester United,€72M,€260K,Right,GK,False,NaN,2020,6'4,168lbs,€138.6M
4,192985,27,Belgium,Manchester City,€102M,€355K,Right,RCM,False,NaN,2023,5'11,154lbs,€196.4M
5,183277,27,Belgium,Chelsea,€93M,€340K,Right,LF,False,NaN,2020,5'8,163lbs,€172.1M
6,177003,32,Croatia,Real Madrid,€67M,€420K,Right,RCM,False,NaN,2020,5'8,146lbs,€137.4M
7,176580,31,Uruguay,FC Barcelona,€80M,€455K,Right,RS,False,NaN,2021,6'0,190lbs,€164M
8,155862,32,Spain,Real Madrid,€51M,€380K,Right,RCB,False,NaN,2020,6'0,181lbs,€104.6M
9,200389,25,Slovenia,Atlético Madrid,€68M,€94K,Right,GK,False,NaN,2021,6'2,192lbs,€144.5M

Ahora se elimina la columna de Loaned From ya que su información no es necesaria y el campo de Loaned almacena inteligentemente con el booleano si tiene o no información dicha variable

In [17]:
dataframe.drop(['Loaned_from'], axis=1, inplace=True)

In [18]:
dataframe

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Loaned,Contract_Valid_Until,Height,Weight,Release_clause
0,158023,31,Argentina,FC Barcelona,€110.5M,€565K,Left,RF,False,2021,5'7,159lbs,€226.5M
1,20801,33,Portugal,Juventus,€77M,€405K,Right,ST,False,2022,6'2,183lbs,€127.1M
2,190871,26,Brazil,Paris Saint-Germain,€118.5M,€290K,Right,LW,False,2022,5'9,150lbs,€228.1M
3,193080,27,Spain,Manchester United,€72M,€260K,Right,GK,False,2020,6'4,168lbs,€138.6M
4,192985,27,Belgium,Manchester City,€102M,€355K,Right,RCM,False,2023,5'11,154lbs,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,England,Crewe Alexandra,€60K,€1K,Right,CM,False,2019,5'9,134lbs,€143K
18203,243165,19,Sweden,Trelleborgs FF,€60K,€1K,Right,ST,False,2020,6'3,170lbs,€113K
18204,241638,16,England,Cambridge United,€60K,€1K,Right,ST,False,2021,5'8,148lbs,€165K
18205,246268,17,England,Tranmere Rovers,€60K,€1K,Right,RW,False,2019,5'10,154lbs,€143K
18206,246269,16,England,Tranmere Rovers,€60K,€1K,Right,CM,False,2019,5'10,176lbs,€165K

Los únicos valores nulos que quedan son los de la columna Release Clause

In [19]:
pd.DataFrame(dataframe.isnull().sum(), columns=['Datos nulos'])

                      Datos nulos
ID                              0
Age                             0
Nationality                     0
Club                            0
Value                           0
Wage                            0
Preferred_foot                  0
Position                        0
Loaned                          0
Contract_Valid_Until            0
Height                          0
Weight                          0
Release_clause               1275

Sabiendo que para esta columna los que no tienen cláusula de recisión se puede inferir que es una cláusula de 0 euros, se eliminan los valores  nulos por 0

In [20]:
dataframe.loc[dataframe.Release_clause.isnull(),'Release_clause']='0'

Se comprueba que se hayan insertado los nuevos valores para los datos nulos. Se puede observar que es la misma cantidad de los valores nulos iniciales

In [21]:
dataframe[dataframe.Release_clause =='0']

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Loaned,Contract_Valid_Until,Height,Weight,Release_clause
28,198710,26,Colombia,FC Bayern München,€69.5M,€315K,Left,LAM,True,"Jun 30, 2019",5'11,172lbs,0
38,167664,30,Argentina,Milan,€57M,€245K,Right,LS,True,"Jun 30, 2019",6'1,196lbs,0
91,187961,29,Brazil,Guangzhou Evergrande Taobao FC,€37M,€235K,Right,LDM,True,"Jun 30, 2019",6'0,157lbs,0
166,212523,24,Brazil,Guangzhou Evergrande Taobao FC,€36.5M,€18K,Left,CAM,True,"Dec 31, 2018",6'3,176lbs,0
176,207410,24,Croatia,Chelsea,€35M,€165K,Right,LCM,True,"Jun 30, 2019",5'9,172lbs,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17979,241341,21,China PR,Guizhou Hengfeng FC,€60K,€2K,Right,CM,True,"Dec 31, 2018",6'0,172lbs,0
18026,241444,21,China PR,Guizhou Hengfeng FC,€50K,€2K,Right,LM,True,"Dec 31, 2018",5'10,143lbs,0
18031,243506,20,China PR,Stabæk Fotball,€40K,€2K,Right,RB,True,"Dec 31, 2018",5'7,143lbs,0
18056,244872,19,Italy,Ascoli,€60K,€3K,Left,CM,True,"Jun 30, 2019",5'10,143lbs,0
18183,53748,44,England,Cambridge United,€0,€1K,Right,GK,False,2023,6'2,190lbs,0

Ahora nos aseguramos que no hay ningún dato nulo en el dataframe

In [22]:
pd.DataFrame(dataframe.isnull().sum(), columns=['Datos nulos'])

                      Datos nulos
ID                              0
Age                             0
Nationality                     0
Club                            0
Value                           0
Wage                            0
Preferred_foot                  0
Position                        0
Loaned                          0
Contract_Valid_Until            0
Height                          0
Weight                          0
Release_clause                  0

Ahora que se han limpiado las columnas de los valores nulos, se analizan el tipo de dato de las mismas.

In [23]:
pd.DataFrame(dataframe.dtypes, columns=['Tipo de dato'])

                     Tipo de dato
ID                          int64
Age                         int64
Nationality                object
Club                       object
Value                      object
Wage                       object
Preferred_foot             object
Position                   object
Loaned                       bool
Contract_Valid_Until       object
Height                     object
Weight                     object
Release_clause             object

Se puede ver que Value, Wage, Height y Release Clause son tipo object, cuando realmente deben ser numérico

Primero se tratarán Value, Wage y Release Clause que son lo de cantidad de dinero. Contienen el signo de euro y si son miles o millones

Comprobaremos que todas esas filas de dichas columnas tienen el mismo formato para luego eliminar caracteres innecesarios

In [24]:
all([re.search('€*(\d*.+\d*[MK]*|0)', value) for tupla in dataframe[['Value', 'Wage', 'Release_clause']] for value in tupla])

True

Eliminación de caracteres innecesarios en las columnas de Value, Wage y Release Clause

In [25]:
dataframe[['Value','Wage', 'Release_clause']] = dataframe[['Value','Wage', 'Release_clause']].apply(lambda x: [tupla[1]*1000 if ('M' in tupla[0]) else tupla[1] for tupla in [(value, float(re.findall('(\d+(?:\.\d+)?)', value)[0])) for value in x]])

Ahora se obtienen dichos valores y se efectúa la condición de que si son miles o millones

Se valida que todas las columnas de peso cumplan la expresión regular para la columna de peso

In [26]:
all([re.findall('(\d+(?:\.\d+)?)lbs', value) for value in dataframe.Weight.values])

True

Ahora se extraen los valores y se asignan a la misma celda de Weight

In [27]:
dataframe.Weight = dataframe.Weight.apply(lambda x: float(re.findall('(\d+(?:\.\d+)?)', x)[0]))

Se comprueban los datos de altura cumplan con la expresión regular

In [28]:
all([re.findall('(\d\'\d*)', value) for value in dataframe.Height])

True

Convirtiendo la columna Height a valores flotante para convertirlo en pulgadas

In [29]:
dataframe.Height = [y[0]*12+y[1] for y in [[int(y) for y in x.split("'")] for x in dataframe.Height]]

Se actualizan los valores cadena de la columna

In [30]:
# dataframe.Height = dataframe.Height.apply(lambda x: float(x.replace('\'','.')))

Se valida la existencia de 4 dígitos consecutivos como año

In [31]:
all([re.findall('\d{4}', x)[0] for x in dataframe.Contract_Valid_Until])

True

En la siguiente celda se debe realizar la reasignación de los datos para la columna de Contract Valid Until

In [32]:
dataframe.Contract_Valid_Until = dataframe.Contract_Valid_Until.apply(lambda x: int(re.findall('\d{4}', x)[0]))

In [33]:
dataframe

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Loaned,Contract_Valid_Until,Height,Weight,Release_clause
0,158023,31,Argentina,FC Barcelona,110500.0,565.0,Left,RF,False,2021,67,159.0,226500.0
1,20801,33,Portugal,Juventus,77000.0,405.0,Right,ST,False,2022,74,183.0,127100.0
2,190871,26,Brazil,Paris Saint-Germain,118500.0,290.0,Right,LW,False,2022,69,150.0,228100.0
3,193080,27,Spain,Manchester United,72000.0,260.0,Right,GK,False,2020,76,168.0,138600.0
4,192985,27,Belgium,Manchester City,102000.0,355.0,Right,RCM,False,2023,71,154.0,196400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,England,Crewe Alexandra,60.0,1.0,Right,CM,False,2019,69,134.0,143.0
18203,243165,19,Sweden,Trelleborgs FF,60.0,1.0,Right,ST,False,2020,75,170.0,113.0
18204,241638,16,England,Cambridge United,60.0,1.0,Right,ST,False,2021,68,148.0,165.0
18205,246268,17,England,Tranmere Rovers,60.0,1.0,Right,RW,False,2019,70,154.0,143.0
18206,246269,16,England,Tranmere Rovers,60.0,1.0,Right,CM,False,2019,70,176.0,165.0

El campo Preferred Fot es el campo que no se ha validado como los otros por ser de tipo cadena de texto, pero al visualizar el conjunto de datos, es posible comprobar si solamente tiene los valores de Left y Right,por lo tanto se comprueba que no haya otro dato que pudiera afectar

In [34]:
all(foot == 'Left' or foot == 'Right' for foot in dataframe.Preferred_foot)

True

Se comprueba el tipo de dato de las columnas

In [35]:
dataframe.dtypes

ID                        int64
Age                       int64
Nationality              object
Club                     object
Value                   float64
Wage                    float64
Preferred_foot           object
Position                 object
Loaned                     bool
Contract_Valid_Until      int64
Height                    int64
Weight                  float64
Release_clause          float64
dtype: object

Se ha terminado de eliminar y sustituir las filas con valores nulos, verificado el tipo de dato y cmprobado si dichas filas cumplen con su respectiva expresión regular

## Dataset normalized creation

Creamos una copia del dataset ya limpio con el fin de modificar los datos, pero mantieniendo una copia del conjunto de datos limpio. Se realiza una copia de esta manera para evitar problemas con el objeto.

In [36]:
normalizedDataframe = dataframe.copy()

Se visualiza el objeto normalizedDataframe

In [37]:
normalizedDataframe

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Loaned,Contract_Valid_Until,Height,Weight,Release_clause
0,158023,31,Argentina,FC Barcelona,110500.0,565.0,Left,RF,False,2021,67,159.0,226500.0
1,20801,33,Portugal,Juventus,77000.0,405.0,Right,ST,False,2022,74,183.0,127100.0
2,190871,26,Brazil,Paris Saint-Germain,118500.0,290.0,Right,LW,False,2022,69,150.0,228100.0
3,193080,27,Spain,Manchester United,72000.0,260.0,Right,GK,False,2020,76,168.0,138600.0
4,192985,27,Belgium,Manchester City,102000.0,355.0,Right,RCM,False,2023,71,154.0,196400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,England,Crewe Alexandra,60.0,1.0,Right,CM,False,2019,69,134.0,143.0
18203,243165,19,Sweden,Trelleborgs FF,60.0,1.0,Right,ST,False,2020,75,170.0,113.0
18204,241638,16,England,Cambridge United,60.0,1.0,Right,ST,False,2021,68,148.0,165.0
18205,246268,17,England,Tranmere Rovers,60.0,1.0,Right,RW,False,2019,70,154.0,143.0
18206,246269,16,England,Tranmere Rovers,60.0,1.0,Right,CM,False,2019,70,176.0,165.0

Se crea un subconjunto de datos para crear un conjunto de la columna de Nationality

In [38]:
countryDataframe = pd.DataFrame((lambda x:{'Nationality':x.index, 'Frequency':x.values})(dataframe.Nationality.value_counts()))

Ahora se indexa con el dataframe limpio sustituyendo el nombre de la nacionalidad con el índice de countryDataframe

In [39]:
normalizedDataframe.Nationality = dataframe.Nationality.apply(lambda x:countryDataframe.loc[countryDataframe.Nationality==x].index[0])

In [40]:
normalizedDataframe

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Loaned,Contract_Valid_Until,Height,Weight,Release_clause
0,158023,31,3,FC Barcelona,110500.0,565.0,Left,RF,False,2021,67,159.0,226500.0
1,20801,33,21,Juventus,77000.0,405.0,Right,ST,False,2022,74,183.0,127100.0
2,190871,26,5,Paris Saint-Germain,118500.0,290.0,Right,LW,False,2022,69,150.0,228100.0
3,193080,27,2,Manchester United,72000.0,260.0,Right,GK,False,2020,76,168.0,138600.0
4,192985,27,25,Manchester City,102000.0,355.0,Right,RCM,False,2023,71,154.0,196400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,0,Crewe Alexandra,60.0,1.0,Right,CM,False,2019,69,134.0,143.0
18203,243165,19,10,Trelleborgs FF,60.0,1.0,Right,ST,False,2020,75,170.0,113.0
18204,241638,16,0,Cambridge United,60.0,1.0,Right,ST,False,2021,68,148.0,165.0
18205,246268,17,0,Tranmere Rovers,60.0,1.0,Right,RW,False,2019,70,154.0,143.0
18206,246269,16,0,Tranmere Rovers,60.0,1.0,Right,CM,False,2019,70,176.0,165.0

Se crea un subconjunto de datos para crear un conjunto de la columna de Club

In [41]:
clubDataframe = pd.DataFrame((lambda x:{'Club':x.index, 'Frequency':x.values})(dataframe.Club.value_counts()))

In [42]:
clubDataframe

                        Club  Frequency
0               FC Barcelona         33
1                Southampton         33
2               Cardiff City         33
3        TSG 1899 Hoffenheim         33
4    Wolverhampton Wanderers         33
..                       ...        ...
646                  Vitória         20
647                   Paraná         20
648             Sligo Rovers         19
649              Limerick FC         19
650               Derry City         18

[651 rows x 2 columns]

Se sustituye el valor de cadena de texto por el índice de dicho valor en clubDataframe

In [43]:
normalizedDataframe.Club = dataframe.Club.apply(lambda x:clubDataframe.loc[clubDataframe.Club==x].index[0])

In [44]:
normalizedDataframe

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Loaned,Contract_Valid_Until,Height,Weight,Release_clause
0,158023,31,3,0,110500.0,565.0,Left,RF,False,2021,67,159.0,226500.0
1,20801,33,21,559,77000.0,405.0,Right,ST,False,2022,74,183.0,127100.0
2,190871,26,5,146,118500.0,290.0,Right,LW,False,2022,69,150.0,228100.0
3,193080,27,2,23,72000.0,260.0,Right,GK,False,2020,76,168.0,138600.0
4,192985,27,25,24,102000.0,355.0,Right,RCM,False,2023,71,154.0,196400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,0,296,60.0,1.0,Right,CM,False,2019,69,134.0,143.0
18203,243165,19,10,376,60.0,1.0,Right,ST,False,2020,75,170.0,113.0
18204,241638,16,0,301,60.0,1.0,Right,ST,False,2021,68,148.0,165.0
18205,246268,17,0,379,60.0,1.0,Right,RW,False,2019,70,154.0,143.0
18206,246269,16,0,379,60.0,1.0,Right,CM,False,2019,70,176.0,165.0

Creamos un dataframe para Preferred Foot

In [45]:
preferredFootDataframe = pd.DataFrame((lambda x:{'PreferredFoot':x.index, 'Frequency':x.values})(dataframe.Preferred_foot.value_counts()))

In [46]:
preferredFootDataframe

  PreferredFoot  Frequency
0         Right      13756
1          Left       4162

Sustituimos valores de preferredDataframe in dataframe

In [47]:
normalizedDataframe.Preferred_foot = dataframe.Preferred_foot.apply(lambda x:preferredFootDataframe.loc[preferredFootDataframe.PreferredFoot==x].index[0])

Se crea un dataframe para Position

In [48]:
positionDataframe = pd.DataFrame((lambda x:{'Position':x.index, 'Frequency':x.values})(dataframe.Position.value_counts()))

In [49]:
normalizedDataframe.Position = dataframe.Position.apply(lambda x:positionDataframe.loc[positionDataframe.Position==x].index[0])

Se crea un dataframe para Loaned

In [50]:
loanedDataframe = pd.DataFrame((lambda x:{'Loaned':x.index, 'Frequency':x.values})(dataframe.Loaned.value_counts()))

In [51]:
normalizedDataframe.Loaned = dataframe.Loaned.apply(lambda x:loanedDataframe.loc[loanedDataframe.Loaned==x].index[0])

In [52]:
normalizedDataframe

,ID,Age,Nationality,Club,Value,Wage,Preferred_foot,Position,Loaned,Contract_Valid_Until,Height,Weight,Release_clause
0,158023,31,3,0,110500.0,565.0,1,25,0,2021,67,159.0,226500.0
1,20801,33,21,559,77000.0,405.0,0,0,0,2022,74,183.0,127100.0
2,190871,26,5,146,118500.0,290.0,0,14,0,2022,69,150.0,228100.0
3,193080,27,2,23,72000.0,260.0,0,1,0,2020,76,168.0,138600.0
4,192985,27,25,24,102000.0,355.0,0,13,0,2023,71,154.0,196400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,0,296,60.0,1.0,0,3,0,2019,69,134.0,143.0
18203,243165,19,10,376,60.0,1.0,0,0,0,2020,75,170.0,113.0
18204,241638,16,0,301,60.0,1.0,0,0,0,2021,68,148.0,165.0
18205,246268,17,0,379,60.0,1.0,0,15,0,2019,70,154.0,143.0
18206,246269,16,0,379,60.0,1.0,0,3,0,2019,70,176.0,165.0