# Data Science Project

Importando las bilbiotecas empleadas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler
import seaborn as sb
from sklearn.model_selection import train_test_split

Leyendo el archivo del conjunto de datos filtrando las dos columnas a usar:

In [2]:
dataframe = (pd.read_csv("futbol.csv", parse_dates= True)).filter(["ID", "Age", "Nationality","Club","Value", "Wage",
        "Preferred Foot", "Position", "Joined","Loaned From", "Contract Valid Until", "Height", "Weight", "Release Clause"])

Visualización del marco de datos importados

In [3]:
dataframe

,ID,Age,Nationality,Club,Value,Wage,Preferred Foot,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause
0,158023,31,Argentina,FC Barcelona,€110.5M,€565K,Left,RF,"Jul 1, 2004",NaN,2021,5'7,159lbs,€226.5M
1,20801,33,Portugal,Juventus,€77M,€405K,Right,ST,"Jul 10, 2018",NaN,2022,6'2,183lbs,€127.1M
2,190871,26,Brazil,Paris Saint-Germain,€118.5M,€290K,Right,LW,"Aug 3, 2017",NaN,2022,5'9,150lbs,€228.1M
3,193080,27,Spain,Manchester United,€72M,€260K,Right,GK,"Jul 1, 2011",NaN,2020,6'4,168lbs,€138.6M
4,192985,27,Belgium,Manchester City,€102M,€355K,Right,RCM,"Aug 30, 2015",NaN,2023,5'11,154lbs,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,England,Crewe Alexandra,€60K,€1K,Right,CM,"May 3, 2017",NaN,2019,5'9,134lbs,€143K
18203,243165,19,Sweden,Trelleborgs FF,€60K,€1K,Right,ST,"Mar 19, 2018",NaN,2020,6'3,170lbs,€113K
18204,241638,16,England,Cambridge United,€60K,€1K,Right,ST,"Jul 1, 2017",NaN,2021,5'8,148lbs,€165K
18205,246268,17,England,Tranmere Rovers,€60K,€1K,Right,RW,"Apr 24, 2018",NaN,2019,5'10,154lbs,€143K
18206,246269,16,England,Tranmere Rovers,€60K,€1K,Right,CM,"Oct 30, 2018",NaN,2019,5'10,176lbs,€165K

Visualizar cantidad de datos nulos por columna

In [4]:
pd.DataFrame(dataframe.isnull().sum(), columns=['Datos nulos'])

                      Datos nulos
ID                              0
Age                             0
Nationality                     0
Club                          241
Value                           0
Wage                            0
Preferred Foot                 48
Position                       60
Joined                       1553
Loaned From                 16943
Contract Valid Until          289
Height                         48
Weight                         48
Release Clause               1564

Mencionar que los datos nulos importantes son todos los que no sean de club y release clause porque se pueden sustituir valores

Visualizar cuáles de lso datos nulos se intersecan

In [5]:
dataframe[dataframe['Preferred Foot'].isnull() & dataframe.Position.isnull() & dataframe.Joined.isnull() 
            & dataframe['Loaned From'].isnull()  & dataframe['Contract Valid Until'].isnull() & dataframe.Height.isnull()
                       & dataframe.Weight.isnull()]

,ID,Age,Nationality,Club,Value,Wage,Preferred Foot,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause
13236,177971,33,Scotland,Rochdale,€120K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13237,195380,29,Nicaragua,Boyacá Chicó FC,€300K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13238,139317,35,England,Notts County,€140K,€3K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13239,240437,20,Italy,Brescia,€425K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13240,209462,24,England,Hamilton Academical FC,€400K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13241,219702,21,Poland,Śląsk Wrocław,€425K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13242,225590,23,Argentina,Club Atlético Aldosivi,€450K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13243,233782,19,England,Everton,€600K,€5K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13244,239158,30,Denmark,Hobro IK,€230K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13245,242998,21,Brazil,HJK Helsinki,€425K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13246,244022,22,France,AS Béziers,€425K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13247,189238,28,Austria,SV Mattersburg,€240K,€3K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13248,211511,24,Northern Ireland,Tranmere Rovers,€375K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13249,224055,27,China PR,Shanghai Greenland Shenhua FC,€250K,€3K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13250,244535,29,Paraguay,Itagüí Leones FC,€300K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13251,134968,34,Belgium,NAC Breda,€150K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13252,225336,22,Albania,Malmö FF,€375K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13253,171320,31,Scotland,Carlisle United,€200K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13254,246328,17,Germany,VfB Stuttgart,€550K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13255,196921,25,Germany,Hamilton Academical FC,€325K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13256,202809,26,England,Dundee FC,€325K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13257,226617,25,Korea Republic,Suwon Samsung Bluewings,€375K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13258,230713,23,Saudi Arabia,Al Wehda,€350K,€3K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13259,234809,27,Chile,CD Palestino,€300K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13260,246073,20,Spain,Albacete BP,€425K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13261,221498,25,Saudi Arabia,Al Nassr,€300K,€5K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13262,244026,24,Germany,TSV 1860 München,€325K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13263,244538,25,Austria,FC Admira Wacker Mödling,€325K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13264,201019,29,France,Grenoble Foot 38,€300K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13265,221499,28,England,Oldham Athletic,€300K,€3K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13266,237371,20,Sweden,Hammarby IF,€525K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13267,242491,22,Colombia,Itagüí Leones FC,€450K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13268,153148,37,Poland,Miedź Legnica,€100K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13269,244540,26,Colombia,Jaguares de Córdoba,€375K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13270,245564,19,Brazil,Bologna,€525K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13271,213821,26,Chile,CD Antofagasta,€290K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13272,240701,22,Scotland,Dundee FC,€450K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13273,242237,25,Estonia,Kristiansund BK,€400K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13274,244029,27,Italy,TSV 1860 München,€325K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13275,244541,23,Venezuela,Boyacá Chicó FC,€375K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13276,211006,26,Saudi Arabia,Al Raed,€290K,€3K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13277,215102,26,Chile,Deportes Iquique,€325K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13278,246078,17,Netherlands,FC Utrecht,€550K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13279,239679,22,Italy,Perugia,€350K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13280,244543,19,France,Montpellier HSC,€650K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13281,212800,27,Korea Republic,Gyeongnam FC,€300K,€1K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13282,231232,25,Mexico,Tiburones Rojos de Veracruz,€375K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13283,232256,25,China PR,Guizhou Hengfeng FC,€325K,€2K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Eliminar esos 48 jugadores

In [6]:
dataframe = dataframe.dropna(subset=['Position'])
dataframe

,ID,Age,Nationality,Club,Value,Wage,Preferred Foot,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause
0,158023,31,Argentina,FC Barcelona,€110.5M,€565K,Left,RF,"Jul 1, 2004",NaN,2021,5'7,159lbs,€226.5M
1,20801,33,Portugal,Juventus,€77M,€405K,Right,ST,"Jul 10, 2018",NaN,2022,6'2,183lbs,€127.1M
2,190871,26,Brazil,Paris Saint-Germain,€118.5M,€290K,Right,LW,"Aug 3, 2017",NaN,2022,5'9,150lbs,€228.1M
3,193080,27,Spain,Manchester United,€72M,€260K,Right,GK,"Jul 1, 2011",NaN,2020,6'4,168lbs,€138.6M
4,192985,27,Belgium,Manchester City,€102M,€355K,Right,RCM,"Aug 30, 2015",NaN,2023,5'11,154lbs,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,England,Crewe Alexandra,€60K,€1K,Right,CM,"May 3, 2017",NaN,2019,5'9,134lbs,€143K
18203,243165,19,Sweden,Trelleborgs FF,€60K,€1K,Right,ST,"Mar 19, 2018",NaN,2020,6'3,170lbs,€113K
18204,241638,16,England,Cambridge United,€60K,€1K,Right,ST,"Jul 1, 2017",NaN,2021,5'8,148lbs,€165K
18205,246268,17,England,Tranmere Rovers,€60K,€1K,Right,RW,"Apr 24, 2018",NaN,2019,5'10,154lbs,€143K
18206,246269,16,England,Tranmere Rovers,€60K,€1K,Right,CM,"Oct 30, 2018",NaN,2019,5'10,176lbs,€165K

Revisando los datos nulos de nuevo, se observa que ahora 229 no tienen lub y esos mismos 229 son los que no han de tener contrato

In [7]:
pd.DataFrame(dataframe.isnull().sum(), columns=['Datos nulos'])

                      Datos nulos
ID                              0
Age                             0
Nationality                     0
Club                          229
Value                           0
Wage                            0
Preferred Foot                  0
Position                        0
Joined                       1493
Loaned From                 16883
Contract Valid Until          229
Height                          0
Weight                          0
Release Clause               1504

Buscamos la intersección de las variables con valores nulos así como se hizo el paso anterior

In [8]:
dataframe[dataframe['Contract Valid Until'].isnull() & dataframe.Joined.isnull() & dataframe['Loaned From'].isnull()]

,ID,Age,Nationality,Club,Value,Wage,Preferred Foot,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause
452,207439,24,Argentina,NaN,€0,€0,Right,CM,NaN,NaN,NaN,5'11,165lbs,NaN
538,156713,33,Sweden,NaN,€0,€0,Right,LCB,NaN,NaN,NaN,6'4,185lbs,NaN
568,229909,26,Russia,NaN,€0,€0,Right,GK,NaN,NaN,NaN,6'2,176lbs,NaN
677,187347,29,Russia,NaN,€0,€0,Right,RB,NaN,NaN,NaN,5'10,154lbs,NaN
874,187607,29,Russia,NaN,€0,€0,Right,ST,NaN,NaN,NaN,6'5,201lbs,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16947,225489,23,Iceland,NaN,€0,€0,Right,GK,NaN,NaN,NaN,6'5,187lbs,NaN
16976,236774,21,India,NaN,€0,€0,Left,LW,NaN,NaN,NaN,5'9,154lbs,NaN
17008,234234,27,Bulgaria,NaN,€0,€0,Right,LDM,NaN,NaN,NaN,6'0,163lbs,NaN
17197,245164,21,India,NaN,€0,€0,Right,GK,NaN,NaN,NaN,6'2,176lbs,NaN
17215,243131,26,Finland,NaN,€0,€0,Right,RB,NaN,NaN,NaN,6'4,187lbs,NaN

Se eliminan esas 229 filas

In [9]:
dataframe = dataframe.dropna(subset=['Contract Valid Until'])
dataframe

,ID,Age,Nationality,Club,Value,Wage,Preferred Foot,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause
0,158023,31,Argentina,FC Barcelona,€110.5M,€565K,Left,RF,"Jul 1, 2004",NaN,2021,5'7,159lbs,€226.5M
1,20801,33,Portugal,Juventus,€77M,€405K,Right,ST,"Jul 10, 2018",NaN,2022,6'2,183lbs,€127.1M
2,190871,26,Brazil,Paris Saint-Germain,€118.5M,€290K,Right,LW,"Aug 3, 2017",NaN,2022,5'9,150lbs,€228.1M
3,193080,27,Spain,Manchester United,€72M,€260K,Right,GK,"Jul 1, 2011",NaN,2020,6'4,168lbs,€138.6M
4,192985,27,Belgium,Manchester City,€102M,€355K,Right,RCM,"Aug 30, 2015",NaN,2023,5'11,154lbs,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,England,Crewe Alexandra,€60K,€1K,Right,CM,"May 3, 2017",NaN,2019,5'9,134lbs,€143K
18203,243165,19,Sweden,Trelleborgs FF,€60K,€1K,Right,ST,"Mar 19, 2018",NaN,2020,6'3,170lbs,€113K
18204,241638,16,England,Cambridge United,€60K,€1K,Right,ST,"Jul 1, 2017",NaN,2021,5'8,148lbs,€165K
18205,246268,17,England,Tranmere Rovers,€60K,€1K,Right,RW,"Apr 24, 2018",NaN,2019,5'10,154lbs,€143K
18206,246269,16,England,Tranmere Rovers,€60K,€1K,Right,CM,"Oct 30, 2018",NaN,2019,5'10,176lbs,€165K

Se hace una tercera revisión de valores nulos

In [10]:
pd.DataFrame(dataframe.isnull().sum(), columns=['Datos nulos'])

                      Datos nulos
ID                              0
Age                             0
Nationality                     0
Club                            0
Value                           0
Wage                            0
Preferred Foot                  0
Position                        0
Joined                       1264
Loaned From                 16654
Contract Valid Until            0
Height                          0
Weight                          0
Release Clause               1275

Visualizando el datase, se puede observar que la columna de Joined es excluyente con Loaned From.

Esto se comprueba imprimiendo los valores que sean nulos de Loaned From y los valores no nulos de Joined. Se puede observar que la cantidad de filas de haber aplicado el filtrado son la totalidad del nuevo dataframe después de haber realizado todas las eliminaciones de filas

In [11]:
dataframe[dataframe['Loaned From'].isnull() & dataframe['Joined'].isnull()==False]

,ID,Age,Nationality,Club,Value,Wage,Preferred Foot,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause
0,158023,31,Argentina,FC Barcelona,€110.5M,€565K,Left,RF,"Jul 1, 2004",NaN,2021,5'7,159lbs,€226.5M
1,20801,33,Portugal,Juventus,€77M,€405K,Right,ST,"Jul 10, 2018",NaN,2022,6'2,183lbs,€127.1M
2,190871,26,Brazil,Paris Saint-Germain,€118.5M,€290K,Right,LW,"Aug 3, 2017",NaN,2022,5'9,150lbs,€228.1M
3,193080,27,Spain,Manchester United,€72M,€260K,Right,GK,"Jul 1, 2011",NaN,2020,6'4,168lbs,€138.6M
4,192985,27,Belgium,Manchester City,€102M,€355K,Right,RCM,"Aug 30, 2015",NaN,2023,5'11,154lbs,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,England,Crewe Alexandra,€60K,€1K,Right,CM,"May 3, 2017",NaN,2019,5'9,134lbs,€143K
18203,243165,19,Sweden,Trelleborgs FF,€60K,€1K,Right,ST,"Mar 19, 2018",NaN,2020,6'3,170lbs,€113K
18204,241638,16,England,Cambridge United,€60K,€1K,Right,ST,"Jul 1, 2017",NaN,2021,5'8,148lbs,€165K
18205,246268,17,England,Tranmere Rovers,€60K,€1K,Right,RW,"Apr 24, 2018",NaN,2019,5'10,154lbs,€143K
18206,246269,16,England,Tranmere Rovers,€60K,€1K,Right,CM,"Oct 30, 2018",NaN,2019,5'10,176lbs,€165K

Comprobamos si la dimensión de los datos filtrados en la celda anterior son iguales al dataframe con las filas eliminadas

In [12]:
dataframe[dataframe['Loaned From'].isnull() & dataframe['Joined'].isnull()==False].values.shape == dataframe.shape

True

Sabiendo que son Loaned From es excluyente de Joined y que son de tipo cadena con información compleja.
Hay que recordar que Joined se refiere a la fecha que el jugador se unió al club al que pertenece actualmente
Loaned From se refiere al club al que fue prestado incluyendo la fecha 
Se realizará una nueva variable que sea de tipo booleana que indique si está en préstamo es verdadero (significa que hay información en Loaned From), y falso si no lo está (significa que hay información en Joined)

Se cambia el nombre de la columna de Joined a Loaned, ya que la información contenida no va a ser necesaria y se evita crear una nueva columna en el dataframe

In [13]:
dataframe = dataframe.rename({'Joined': 'Loaned'}, axis=1)

Se pretende cambiar los valores nulos de Loaned (valores originales a Joined) a True indicando que están en préstamo y a False las celdas que sí tengan indicando que no está en préstamo

In [14]:
dataframe.Loaned = (dataframe.Loaned.isnull())

Para comprobar que el resultado es el deseado, se imprime Loaned = True y en Loaned From debe contener datos no nulos

In [15]:
dataframe[dataframe.Loaned == True].head(n=10)

,ID,Age,Nationality,Club,Value,Wage,Preferred Foot,Position,Loaned,Loaned From,Contract Valid Until,Height,Weight,Release Clause
28,198710,26,Colombia,FC Bayern München,€69.5M,€315K,Left,LAM,True,Real Madrid,"Jun 30, 2019",5'11,172lbs,NaN
38,167664,30,Argentina,Milan,€57M,€245K,Right,LS,True,Juventus,"Jun 30, 2019",6'1,196lbs,NaN
91,187961,29,Brazil,Guangzhou Evergrande Taobao FC,€37M,€235K,Right,LDM,True,FC Barcelona,"Jun 30, 2019",6'0,157lbs,NaN
166,212523,24,Brazil,Guangzhou Evergrande Taobao FC,€36.5M,€18K,Left,CAM,True,SL Benfica,"Dec 31, 2018",6'3,176lbs,NaN
176,207410,24,Croatia,Chelsea,€35M,€165K,Right,LCM,True,Real Madrid,"Jun 30, 2019",5'9,172lbs,NaN
332,216409,24,Italy,Inter,€22.5M,€57K,Left,RM,True,Sassuolo,"Jun 30, 2019",5'7,148lbs,NaN
354,203890,26,Croatia,Inter,€18M,€57K,Right,RB,True,Atlético Madrid,"Jun 30, 2019",5'11,168lbs,NaN
357,202685,27,Italy,Torino,€21M,€48K,Left,RS,True,Valencia CF,"Jun 30, 2019",6'1,185lbs,NaN
427,226226,22,Argentina,Real Betis,€20M,€72K,Left,RCM,True,Paris Saint-Germain,"Jun 30, 2019",5'9,154lbs,NaN
434,219809,23,France,Milan,€17M,€85K,Right,LCM,True,Chelsea,"Jun 30, 2019",6'2,187lbs,NaN

Se imprime Loaned = False y en Loaned From debe contener datos nulos

In [16]:
dataframe[dataframe.Loaned == False].head(n=10)

,ID,Age,Nationality,Club,Value,Wage,Preferred Foot,Position,Loaned,Loaned From,Contract Valid Until,Height,Weight,Release Clause
0,158023,31,Argentina,FC Barcelona,€110.5M,€565K,Left,RF,False,NaN,2021,5'7,159lbs,€226.5M
1,20801,33,Portugal,Juventus,€77M,€405K,Right,ST,False,NaN,2022,6'2,183lbs,€127.1M
2,190871,26,Brazil,Paris Saint-Germain,€118.5M,€290K,Right,LW,False,NaN,2022,5'9,150lbs,€228.1M
3,193080,27,Spain,Manchester United,€72M,€260K,Right,GK,False,NaN,2020,6'4,168lbs,€138.6M
4,192985,27,Belgium,Manchester City,€102M,€355K,Right,RCM,False,NaN,2023,5'11,154lbs,€196.4M
5,183277,27,Belgium,Chelsea,€93M,€340K,Right,LF,False,NaN,2020,5'8,163lbs,€172.1M
6,177003,32,Croatia,Real Madrid,€67M,€420K,Right,RCM,False,NaN,2020,5'8,146lbs,€137.4M
7,176580,31,Uruguay,FC Barcelona,€80M,€455K,Right,RS,False,NaN,2021,6'0,190lbs,€164M
8,155862,32,Spain,Real Madrid,€51M,€380K,Right,RCB,False,NaN,2020,6'0,181lbs,€104.6M
9,200389,25,Slovenia,Atlético Madrid,€68M,€94K,Right,GK,False,NaN,2021,6'2,192lbs,€144.5M

Ahora se elimina la columna de Loaned From ya que su información no es necesaria y el campo de Loaned almacena inteligentemente con el booleano si tiene o no información dicha variable

In [17]:
dataframe = dataframe.drop(['Loaned From'], axis=1)

In [18]:
dataframe

,ID,Age,Nationality,Club,Value,Wage,Preferred Foot,Position,Loaned,Contract Valid Until,Height,Weight,Release Clause
0,158023,31,Argentina,FC Barcelona,€110.5M,€565K,Left,RF,False,2021,5'7,159lbs,€226.5M
1,20801,33,Portugal,Juventus,€77M,€405K,Right,ST,False,2022,6'2,183lbs,€127.1M
2,190871,26,Brazil,Paris Saint-Germain,€118.5M,€290K,Right,LW,False,2022,5'9,150lbs,€228.1M
3,193080,27,Spain,Manchester United,€72M,€260K,Right,GK,False,2020,6'4,168lbs,€138.6M
4,192985,27,Belgium,Manchester City,€102M,€355K,Right,RCM,False,2023,5'11,154lbs,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,19,England,Crewe Alexandra,€60K,€1K,Right,CM,False,2019,5'9,134lbs,€143K
18203,243165,19,Sweden,Trelleborgs FF,€60K,€1K,Right,ST,False,2020,6'3,170lbs,€113K
18204,241638,16,England,Cambridge United,€60K,€1K,Right,ST,False,2021,5'8,148lbs,€165K
18205,246268,17,England,Tranmere Rovers,€60K,€1K,Right,RW,False,2019,5'10,154lbs,€143K
18206,246269,16,England,Tranmere Rovers,€60K,€1K,Right,CM,False,2019,5'10,176lbs,€165K

Los únicos valores nulos que quedan son los de la columna Release Clause

In [19]:
pd.DataFrame(dataframe.isnull().sum(), columns=['Datos nulos'])

                      Datos nulos
ID                              0
Age                             0
Nationality                     0
Club                            0
Value                           0
Wage                            0
Preferred Foot                  0
Position                        0
Loaned                          0
Contract Valid Until            0
Height                          0
Weight                          0
Release Clause               1275

Sabiendo que para esta columna los que no tienen cláusula de recisión se puede inferir que es una cláusula de 0 euros, se eliminan los valores  nulos por 0

In [20]:
dataframe.loc[dataframe['Release Clause'].isnull(),'Release Clause']='0'

Se comprueba que se hayan insertado los nuevos valores para los datos nulos. Se puede observar que es la misma cantidad de los valores nulos iniciales

In [21]:
dataframe[dataframe['Release Clause'] == 0]

Empty DataFrame
Columns: [ID, Age, Nationality, Club, Value, Wage, Preferred Foot, Position, Loaned, Contract Valid Until, Height, Weight, Release Clause]
Index: []

Ahora nos aseguramos que no hay ningún dato nulo en el dataframe

In [22]:
pd.DataFrame(dataframe.isnull().sum(), columns=['Datos nulos'])

                      Datos nulos
ID                              0
Age                             0
Nationality                     0
Club                            0
Value                           0
Wage                            0
Preferred Foot                  0
Position                        0
Loaned                          0
Contract Valid Until            0
Height                          0
Weight                          0
Release Clause                  0

Ahora que se han limpiado las columnas de los valores nulos, se analizan el tipo de dato de las mismas.

In [23]:
pd.DataFrame(dataframe.dtypes, columns=['Tipo de dato'])

                     Tipo de dato
ID                          int64
Age                         int64
Nationality                object
Club                       object
Value                      object
Wage                       object
Preferred Foot             object
Position                   object
Loaned                       bool
Contract Valid Until       object
Height                     object
Weight                     object
Release Clause             object

Se puede ver que Value, Wage, Height y Release Clause son tipo object, cuando realmente deben ser numérico

Primero se tratarán Value, Wage y Release Clause que son lo de cantidad de dinero. Contienen el signo de euro y si son miles o millones

In [24]:
dataframe[['Value', 'Wage', 'Release Clause']]

         Value   Wage Release Clause
0      €110.5M  €565K        €226.5M
1         €77M  €405K        €127.1M
2      €118.5M  €290K        €228.1M
3         €72M  €260K        €138.6M
4        €102M  €355K        €196.4M
...        ...    ...            ...
18202     €60K    €1K          €143K
18203     €60K    €1K          €113K
18204     €60K    €1K          €165K
18205     €60K    €1K          €143K
18206     €60K    €1K          €165K

[17918 rows x 3 columns]

In [25]:
import re

In [26]:
dataframe['Value'].head(n=60)

0     €110.5M
1        €77M
2     €118.5M
3        €72M
4       €102M
5        €93M
6        €67M
7        €80M
8        €51M
9        €68M
10       €77M
11     €76.5M
12       €44M
13       €60M
14       €63M
15       €89M
16     €83.5M
17       €78M
18       €58M
19     €53.5M
20     €51.5M
21       €60M
22       €38M
23     €64.5M
24       €27M
25       €81M
26     €69.5M
27     €59.5M
28     €69.5M
29       €62M
30     €73.5M
31     €73.5M
32     €69.5M
33       €59M
34       €46M
35       €43M
36       €60M
37       €36M
38       €57M
39       €24M
40       €30M
41        €4M
42       €57M
43     €64.5M
44       €51M
45       €64M
46     €30.5M
47     €62.5M
48       €52M
49       €38M
50       €45M
51       €34M
52     €46.5M
53     €46.5M
54       €34M
55       €61M
56     €59.5M
57     €41.5M
58       €52M
59     €44.5M
Name: Value, dtype: object

Comprobaremos que todas esas filas de dichas columnas tienen el mismo formato para luego eliminar caracteres innecesarios

In [32]:
#Revisión de que si todas las filas tienen el formato de la expresión regular
# mo  =all([re.compile('€*(\d*.+\d*[MK]*|0)').fullmatch(value)for tupla in dataframe[['Value', 'Wage', 'Release Clause']]
#                                                             for value in tupla])
all([re.search('€*(\d*.+\d*[MK]*|0)', value) for tupla in dataframe[['Value', 'Wage', 'Release Clause']] for value in tupla])

True

Ahora se obtienen dichos valores y se efectúa la condición de que si son miles o millones

In [28]:
[x[0] for x in dataframe[['Release Clause']].values]

['€226.5M',
 '€127.1M',
 '€228.1M',
 '€138.6M',
 '€196.4M',
 '€172.1M',
 '€137.4M',
 '€164M',
 '€104.6M',
 '€144.5M',
 '€127.1M',
 '€156.8M',
 '€90.2M',
 '€111M',
 '€121.3M',
 '€153.5M',
 '€160.7M',
 '€165.8M',
 '€123.3M',
 '€113.7M',
 '€105.6M',
 '€111M',
 '€62.7M',
 '€119.3M',
 '€44.6M',
 '€166.1M',
 '€137.3M',
 '€126.4M',
 '0',
 '€105.4M',
 '€156.2M',
 '€141.5M',
 '€147.7M',
 '€112.1M',
 '€75.9M',
 '€88.2M',
 '€123M',
 '€66.6M',
 '0',
 '€44.4M',
 '€51M',
 '€7.4M',
 '€121.1M',
 '€114.5M',
 '€90.5M',
 '€123.2M',
 '€62.5M',
 '€120.3M',
 '€88.4M',
 '€77.9M',
 '€76.5M',
 '€62.9M',
 '€79.1M',
 '€95.3M',
 '€69.7M',
 '€125.1M',
 '€114.5M',
 '€79.9M',
 '€102.7M',
 '€87.9M',
 '€108.8M',
 '€104.7M',
 '€106.3M',
 '€105.9M',
 '€60.2M',
 '€76.7M',
 '€74.3M',
 '€75.1M',
 '€74M',
 '€64.8M',
 '€49.5M',
 '€75.1M',
 '€72.6M',
 '€49.5M',
 '€82.7M',
 '€33.3M',
 '€26.9M',
 '€88.4M',
 '€89.6M',
 '€121.5M',
 '€98.8M',
 '€72.1M',
 '€69.9M',
 '€107.3M',
 '€74.9M',
 '€65.6M',
 '€95.6M',
 '€88.9M',
 '€66.6M',
 '€52.7M',
 '€77.7M',
 '0',
 '€55.2M',
 '€69.4M',
 '€78M',
 '€49.5M',
 '€53.3M',
 '€63.8M',
 '€51.9M',
 '€54.5M',
 '€78.9M',
 '€60.4M',
 '€15.3M',
 '€42.9M',
 '€26.4M',
 '€75.9M',
 '€44.1M',
 '€40.7M',
 '€17.1M',
 '€21M',
 '€65.5M',
 '€72.3M',
 '€66.4M',
 '€65.5M',
 '€84M',
 '€67.5M',
 '€87.1M',
 '€87.1M',
 '€67.2M',
 '€68.3M',
 '€68.5M',
 '€73.2M',
 '€77M',
 '€66.9M',
 '€83M',
 '€71.2M',
 '€49.4M',
 '€55.9M',
 '€50.9M',
 '€48.7M',
 '€63M',
 '€53.3M',
 '€44.4M',
 '€37.4M',
 '€65.1M',
 '€45.3M',
 '€59.2M',
 '€46.8M',
 '€54.6M',
 '€41.3M',
 '€56.4M',
 '€52.2M',
 '€60.9M',
 '€40.8M',
 '€52.3M',
 '€33M',
 '€43.7M',
 '€36.1M',
 '€47.5M',
 '€36.1M',
 '€30.6M',
 '€51M',
 '€6.9M',
 '€29.5M',
 '€25.6M',
 '€90M',
 '€84.1M',
 '€50.4M',
 '€40.5M',
 '€54.2M',
 '€62.5M',
 '€67.2M',
 '€58.7M',
 '€79.9M',
 '€58.7M',
 '€52.4M',
 '0',
 '€61.2M',
 '€63.5M',
 '€58.7M',
 '€66.3M',
 '€47.9M',
 '€55.4M',
 '€73.4M',
 '€69.6M',
 '€40M',
 '0',
 '€58.4M',
 '€65.3M',
 '€59.5M',
 '€49.4M',
 '€55.3M',
 '€54.9M',
 '€58.6M',
 '€62.6M',
 '€62.2M',
 '€59.7M',
 '€56M',
 '€52.1M',
 '€37.8M',
 '€45.1M',
 '€32.3M',
 '€56.3M',
 '€66.3M',
 '€51M',
 '€45.1M',
 '€45.7M',
 '€37.3M',
 '€39.9M',
 '€48.5M',
 '€46.2M',
 '€24.7M',
 '€36.1M',
 '€39.9M',
 '€52M',
 '€69.4M',
 '€52.3M',
 '€36.1M',
 '€44.2M',
 '€32.4M',
 '€35.5M',
 '€45.3M',
 '€31.8M',
 '€31.4M',
 '€35.5M',
 '€33M',
 '€34M',
 '€29.8M',
 '€24.7M',
 '€40.7M',
 '€44.4M',
 '€19M',
 '€22.1M',
 '€13.6M',
 '€10.2M',
 '€34.6M',
 '€43.2M',
 '€61.6M',
 '€73.1M',
 '€55.1M',
 '€31.4M',
 '€12.4M',
 '€25.2M',
 '€62.7M',
 '€63.1M',
 '€49.4M',
 '€70.9M',
 '€46.8M',
 '€57.4M',
 '€58.5M',
 '€46.2M',
 '€48.4M',
 '€43.5M',
 '€50.9M',
 '€58M',
 '€42.3M',
 '€51.5M',
 '€47.2M',
 '€50.4M',
 '€57.4M',
 '€51M',
 '€38M',
 '€53.3M',
 '€46.2M',
 '€51M',
 '€45.2M',
 '€42.8M',
 '€43.3M',
 '€36.4M',
 '€46.4M',
 '€40.4M',
 '€31.5M',
 '€59.8M',
 '€62.7M',
 '€45.7M',
 '€54.9M',
 '€38.3M',
 '€49.4M',
 '€59.2M',
 '€56.6M',
 '€56.3M',
 '€50.6M',
 '€49.5M',
 '€45.7M',
 '€43.6M',
 '€57.6M',
 '€40.7M',
 '€42.4M',
 '€38.2M',
 '€34.6M',
 '€47.9M',
 '€44.4M',
 '€36.6M',
 '€38.9M',
 '€37.4M',
 '€32.8M',
 '€44.1M',
 '€28.9M',
 '€44.1M',
 '€49.4M',
 '€34.2M',
 '€21.3M',
 '€42.8M',
 '€30M',
 '€41.8M',
 '€45.2M',
 '€34.2M',
 '€36.6M',
 '€15.3M',
 '€34M',
 '€23.8M',
 '€26.3M',
 '€43.7M',
 '€25.5M',
 '€37M',
 '€25.5M',
 '€39.9M',
 '€31.5M',
 '€25M',
 '€23M',
 '€25M',
 '€23.8M',
 '€23M',
 '€21.3M',
 '€8.9M',
 '€12M',
 '€16.8M',
 '€5.7M',
 '€3M',
 '€55.4M',
 '€32.3M',
 '€50.4M',
 '€39.9M',
 '€41.6M',
 '€42.5M',
 '€52.2M',
 '€49.4M',
 '€43.1M',
 '€56.3M',
 '€35.4M',
 '€35.7M',
 '€40.5M',
 '0',
 '€32.8M',
 '€56.4M',
 '€55.1M',
 '€44.1M',
 '€39.9M',
 '€30.2M',
 '€35.5M',
 '€46.6M',
 '€37.5M',
 '€45.1M',
 '€42.6M',
 '€38.5M',
 '€35.4M',
 '€33.6M',
 '€39.1M',
 '€35.6M',
 '€32.8M',
 '€48.5M',
 '€39.9M',
 '€38.5M',
 '€30.2M',
 '0',
 '€38.2M',
 '€30.6M',
 '0',
 '€29.3M',
 '€31.1M',
 '€28.9M',
 '€39.1M',
 '€41.7M',
 '€36.9M',
 '€43.5M',
 '€24.5M',
 '€28.9M',
 '€33.2M',
 '€31.6M',
 '€24.7M',
 '€36.1M',
 '€44.6M',
 '€31.8M',
 '€31.1M',
 '€32.4M',
 '€37M',
 '€37.3M',
 '€30.8M',
 '€34.1M',
 '€29.8M',
 '€45.4M',
 '€38.9M',
 '€30.6M',
 '€28.4M',
 '€29.8M',
 '€19M',
 '€27.3M',
 '€29.4M',
 '€23.8M',
 '€20.9M',
 '€32.6M',
 '€25.5M',
 '€11.9M',
 '€26.4M',
 '€35.7M',
 '€40.4M',
 '€26.8M',
 '€26.3M',
 '€36.3M',
 '€18.5M',
 '€17.1M',
 '€28.5M',
 '€18.7M',
 '€13.6M',
 '€23.8M',
 '€29.4M',
 '€35M',
 '€18.7M',
 '€31M',
 '€25.7M',
 '€11M',
 '€12.6M',
 '€44.6M',
 '€41.8M',
 '€47.3M',
 '€49.4M',
 '€48.3M',
 '€41.6M',
 '€30.7M',
 '€20M',
 '€8.5M',
 '€48.3M',
 '€30.6M',
 '€32M',
 '€33.3M',
 '€33.6M',
 '€21.4M',
 '0',
 '€25M',
 '€43.1M',
 '€42.5M',
 '€24M',
 '€33.3M',
 '€25.7M',
 '0',
 '€38M',
 '€38.4M',
 '0',
 '€30.5M',
 '€12.6M',
 '€39.5M',
 '€43.5M',
 '€34.6M',
 '€35.9M',
 '0',
 '€22.1M',
 '€38.5M',
 '€28.3M',
 '€33.6M',
 '€34.6M',
 '€27.5M',
 '€30.6M',
 '€25.2M',
 '€31.8M',
 '€25.2M',
 '€33.7M',
 '€34.6M',
 '€29.4M',
 '€38.1M',
 '0',
 '€31.2M',
 '€25M',
 '€25.7M',
 '€32.6M',
 '€24.9M',
 '€27.7M',
 '€28.6M',
 '€30.6M',
 '€36.5M',
 '€31.8M',
 '€34.8M',
 '€19.6M',
 '€24.2M',
 '€25.7M',
 '€31.6M',
 '€31.1M',
 '€33.6M',
 '€21.9M',
 '€38.1M',
 '€37.4M',
 '€38.5M',
 '€29.8M',
 '€29.6M',
 '€25.2M',
 '€32.6M',
 '€28.5M',
 '€29.4M',
 '€24M',
 '€25.5M',
 '€27.5M',
 '€29.5M',
 '€25.2M',
 '€21.9M',
 '€16.8M',
 '€18.4M',
 '0',
 '€32.6M',
 '€25.5M',
 '€22.4M',
 '€17.1M',
 '€40.2M',
 '€29.4M',
 '€20.4M',
 '0',
 '€27.9M',
 '€20.4M',
 '€31.5M',
 '€24M',
 '€16.5M',
 '€21.3M',
 '€28.4M',
 '€17.9M',
 '€14.7M',
 '€21.3M',
 '€25.7M',
 '€19M',
 '€20.9M',
 '€33.3M',
 '€20M',
 '€15.2M',
 '€26.3M',
 '€23.7M',
 '€28.4M',
 '€13.5M',
 '€22.1M',
 '€16.7M',
 '€17M',
 '€17.3M',
 '€29.5M',
 '€27.3M',
 '€25.7M',
 '€11.4M',
 '€17M',
 '€15.7M',
 '€11.1M',
 '€16.2M',
 '€8.5M',
 '€19.2M',
 '€20.4M',
 '€18.7M',
 '€9.4M',
 '€11.3M',
 '€4.2M',
 '€17.9M',
 '€24.2M',
 '€9.7M',
 '€10.2M',
 '€2.9M',
 '€8.7M',
 '€12.6M',
 '€18M',
 '€10M',
 '€1.7M',
 '€41.4M',
 '€33M',
 '€28.8M',
 '€39.6M',
 '€34.2M',
 '€37.8M',
 '€34.2M',
 '0',
 '€22.8M',
 '€17.1M',
 '€18.1M',
 '€18.1M',
 '€6.8M',
 '0',
 '€34.2M',
 '€21.8M',
 '€28.6M',
 '€36M',
 '€33.7M',
 '€28.8M',
 '€28.5M',
 '€35.7M',
 '€14.8M',
 '€28M',
 '€32.6M',
 '€25.2M',
 '€35.3M',
 '€25.7M',
 '€29.7M',
 '€28.4M',
 '€40.3M',
 '€30.1M',
 '€30.2M',
 '€37.8M',
 '€24.1M',
 '€28.4M',
 '€18.2M',
 '€20.4M',
 '€27.2M',
 '€28.6M',
 '€35.3M',
 '€34.5M',
 '€31.6M',
 '€29.3M',
 '€24.4M',
 '0',
 '€38.5M',
 '€26.6M',
 '€28.6M',
 '€15M',
 '€25.7M',
 '€16M',
 '€31.5M',
 '0',
 '€24.7M',
 '€27.5M',
 '€24.9M',
 '€39.4M',
 '€23.1M',
 '€20.4M',
 '€26.1M',
 '0',
 '€21M',
 '€24.9M',
 '0',
 '€31.5M',
 '€26.6M',
 '€36.8M',
 '€28.4M',
 '€34.8M',
 '€24.9M',
 '€21.3M',
 '€21.3M',
 '€18.5M',
 '€29.3M',
 '€25M',
 '€22.1M',
 '€21M',
 '€13.3M',
 '€28.3M',
 '€23.7M',
 '€21.3M',
 '€22.1M',
 '€24.4M',
 '€33.7M',
 '€27.9M',
 '€23.1M',
 '€28.4M',
 '€26.3M',
 '€23.1M',
 '€30.8M',
 '€20.7M',
 '€26.3M',
 '€17.9M',
 '€21.3M',
 '€32.2M',
 '€15.3M',
 '€30.6M',
 '€23.1M',
 '€27.3M',
 '€23.8M',
 '€22.2M',
 '€18.9M',
 '€28.6M',
 '€21M',
 '€27.3M',
 '€28.6M',
 '€33M',
 '€24.7M',
 '€22.7M',
 '€13.6M',
 '€20M',
 '€19M',
 '€20M',
 '€18.1M',
 '€29.6M',
 '€17M',
 '€17M',
 '€26.1M',
 '€28M',
 '€27.5M',
 '€22.7M',
 '€16.2M',
 '€17.8M',
 '€23.1M',
 '€24.6M',
 '€13.3M',
 '€23.8M',
 '€22.8M',
 '€18.1M',
 '€20.4M',
 '€17.9M',
 '€22.5M',
 '€11.9M',
 '€22.7M',
 '€25M',
 '€24.7M',
 '€24.7M',
 '€22.8M',
 '€15.2M',
 '€15.4M',
 '€24.2M',
 '€19M',
 '€21.3M',
 '€14.7M',
 '0',
 '€15.2M',
 '€14.3M',
 '€17M',
 '€19M',
 '€11.9M',
 '€23.8M',
 '€13.7M',
 '€13.3M',
 '€20.9M',
 '€14.5M',
 '€17.2M',
 '€17M',
 '€15.8M',
 '€20.9M',
 '€13M',
 '€14.3M',
 '€9M',
 '€6.5M',
 '€20M',
 '€11.7M',
 '€6.8M',
 '€12.4M',
 '€7.6M',
 '€30.5M',
 '€30.8M',
 '€30.4M',
 '€24.4M',
 '0',
 '€32.2M',
 '0',
 '€22.8M',
 '€26.6M',
 '€29.4M',
 '€30.8M',
 '€17.1M',
 '€13.5M',
 '€9.5M',
 '€14.3M',
 '€24.7M',
 '€26.3M',
 '€27M',
 '€27.6M',
 '€27.3M',
 '€26.6M',
 '€24.9M',
 '€33.6M',
 '€9M',
 '€19.9M',
 '€26.6M',
 '€27M',
 '€27.6M',
 '€30.4M',
 '€30.5M',
 '€32.6M',
 '€29.4M',
 '€21M',
 '€22.2M',
 '€19.6M',
 '€27.7M',
 '€23.1M',
 '€17.9M',
 '€18.9M',
 '€17M',
 '€24.7M',
 '€26.3M',
 '€16.8M',
 '€20.7M',
 '€21.8M',
 '€28.5M',
 '€18.4M',
 '€17.8M',
 '€32.2M',
 '€33.6M',
 '€15M',
 '€22.7M',
 '€22.8M',
 '0',
 '€21.7M',
 '€19.5M',
 '0',
 '€24.9M',
 '€23.1M',
 '€11.2M',
 '€20M',
 '€22.8M',
 '€20.7M',
 '€29.4M',
 '€22.2M',
 '€24M',
 '€22.8M',
 '€26.7M',
 '0',
 '€25.9M',
 '€32.2M',
 '€19.5M',
 '€20.4M',
 '€29.4M',
 '€24.9M',
 '€17.8M',
 '0',
 '€15.1M',
 '€28M',
 '€18.6M',
 '€15.2M',
 '€28.7M',
 '€32.2M',
 '0',
 '€19.7M',
 '€27.7M',
 '€23.1M',
 '€23.8M',
 '€24M',
 '€18.1M',
 '€27.2M',
 '€14.5M',
 '€17.9M',
 '€20M',
 '€17M',
 '€23.4M',
 '€20M',
 '0',
 '€20.9M',
 '€16M',
 '€22.3M',
 '€17.6M',
 '€18.9M',
 '€18.1M',
 '€23.7M',
 '€23.7M',
 '0',
 '€20.7M',
 '0',
 '€23.9M',
 '€17.9M',
 '0',
 '€20.8M',
 '€19.8M',
 '€20M',
 '€14.7M',
 '€21.7M',
 '€12.6M',
 '€28.3M',
 '€25M',
 '€20.7M',
 '€20M',
 '€20.9M',
 '€20.7M',
 '€19.8M',
 '€20.7M',
 '€15M',
 '€25.7M',
 '€7M',
 '€17.6M',
 '€20M',
 '€10.5M',
 '€20.4M',
 '€14.3M',
 '€20M',
 '€12.8M',
 '€21M',
 '€12.4M',
 '0',
 '0',
 '€14M',
 '€17M',
 '€13.6M',
 '€20M',
 '€17.8M',
 '€4.5M',
 '€12.9M',
 '€10M',
 '€5.6M',
 '€14.7M',
 '€13.7M',
 '€11.9M',
 '€16.8M',
 '€19M',
 '€17.8M',
 '€12.6M',
 '€16.2M',
 '€24.7M',
 '€18.9M',
 '€14.3M',
 '€19M',
 '€7.6M',
 '€16.2M',
 '€8.1M',
 '0',
 '€12.6M',
 '€15M',
 '€23.7M',
 '€13.6M',
 '0',
 '€17.7M',
 '€12.8M',
 '0',
 '€14.5M',
 '0',
 '€17M',
 '€14.5M',
 '€23.9M',
 '€7.6M',
 '€9.8M',
 '€17M',
 '€16.2M',
 '€17.1M',
 '€7M',
 '€8.6M',
 '€16.7M',
 '€2.9M',
 '€14.8M',
 '€20.7M',
 '€21.8M',
 '€19.8M',
 '€11.9M',
 '€12.8M',
 '€8M',
 '€11.8M',
 '€27.3M',
 '€6.1M',
 '€12.8M',
 '€20.7M',
 '€1.1M',
 '€17.1M',
 '0',
 '€5.7M',
 '€21.7M',
 '€19.8M',
 '€18.1M',
 '€18.1M',
 '€23.1M',
 '€17.4M',
 '€18.1M',
 '€13.1M',
 '€26.3M',
 '€9.1M',
 '€12.4M',
 '€15.4M',
 '€18.5M',
 '€17.9M',
 '€19.8M',
 '€6.5M',
 '€12.4M',
 '€12.8M',
 '0',
 '€20.9M',
 '€15.1M',
 '€6.3M',
 '€17.1M',
 '€7.6M',
 '€7.7M',
 '€20.7M',
 '€19M',
 '€17.9M',
 '€17.8M',
 '€14.7M',
 '€16.3M',
 '€18.9M',
 '€22.7M',
 '€26.1M',
 '€16.2M',
 '€14.5M',
 '€23.7M',
 '€17.1M',
 '€9.4M',
 '0',
 '€13.7M',
 '€13.7M',
 '€6.6M',
 '€22.1M',
 '€14M',
 '€17.6M',
 '€11M',
 '€15.3M',
 '€9.4M',
 '€27.5M',
 '€12.6M',
 '€10.5M',
 '€18.9M',
 '€11.9M',
 '€8.5M',
 '€26.1M',
 '€12.4M',
 '€6.8M',
 '€13.6M',
 '€5M',
 '€13M',
 '€4.5M',
 '€10.5M',
 '€8.9M',
 '€22.7M',
 '0',
 '€7.6M',
 '€15.8M',
 '€15.3M',
 '€17.1M',
 '0',
 '€11.2M',
 '€27.6M',
 '€5.8M',
 '€12.4M',
 ...]

In [29]:
[value for tupla in dataframe[['Value', 'Wage']].values for value in tupla]

['€110.5M',
 '€565K',
 '€77M',
 '€405K',
 '€118.5M',
 '€290K',
 '€72M',
 '€260K',
 '€102M',
 '€355K',
 '€93M',
 '€340K',
 '€67M',
 '€420K',
 '€80M',
 '€455K',
 '€51M',
 '€380K',
 '€68M',
 '€94K',
 '€77M',
 '€205K',
 '€76.5M',
 '€355K',
 '€44M',
 '€125K',
 '€60M',
 '€285K',
 '€63M',
 '€225K',
 '€89M',
 '€205K',
 '€83.5M',
 '€205K',
 '€78M',
 '€145K',
 '€58M',
 '€240K',
 '€53.5M',
 '€240K',
 '€51.5M',
 '€315K',
 '€60M',
 '€200K',
 '€38M',
 '€130K',
 '€64.5M',
 '€300K',
 '€27M',
 '€215K',
 '€81M',
 '€100K',
 '€69.5M',
 '€255K',
 '€59.5M',
 '€285K',
 '€69.5M',
 '€315K',
 '€62M',
 '€165K',
 '€73.5M',
 '€315K',
 '€73.5M',
 '€205K',
 '€69.5M',
 '€340K',
 '€59M',
 '€265K',
 '€46M',
 '€160K',
 '€43M',
 '€285K',
 '€60M',
 '€355K',
 '€36M',
 '€150K',
 '€57M',
 '€245K',
 '€24M',
 '€165K',
 '€30M',
 '€110K',
 '€4M',
 '€77K',
 '€57M',
 '€205K',
 '€64.5M',
 '€130K',
 '€51M',
 '€115K',
 '€64M',
 '€210K',
 '€30.5M',
 '€195K',
 '€62.5M',
 '€230K',
 '€52M',
 '€115K',
 '€38M',
 '€250K',
 '€45M',
 '€135K',
 '€34M',
 '€155K',
 '€46.5M',
 '€125K',
 '€46.5M',
 '€260K',
 '€34M',
 '€240K',
 '€61M',
 '€195K',
 '€59.5M',
 '€180K',
 '€41.5M',
 '€125K',
 '€52M',
 '€195K',
 '€44.5M',
 '€165K',
 '€56.5M',
 '€195K',
 '€53M',
 '€195K',
 '€50M',
 '€210K',
 '€55M',
 '€135K',
 '€36.5M',
 '€160K',
 '€46.5M',
 '€175K',
 '€45M',
 '€135K',
 '€45.5M',
 '€130K',
 '€43.5M',
 '€100K',
 '€35M',
 '€175K',
 '€30M',
 '€160K',
 '€39M',
 '€150K',
 '€44M',
 '€180K',
 '€30M',
 '€160K',
 '€43.5M',
 '€190K',
 '€18M',
 '€185K',
 '€21.5M',
 '€21K',
 '€46.5M',
 '€82K',
 '€50.5M',
 '€73K',
 '€54M',
 '€215K',
 '€50M',
 '€92K',
 '€36.5M',
 '€115K',
 '€40.5M',
 '€92K',
 '€50.5M',
 '€77K',
 '€40.5M',
 '€205K',
 '€38M',
 '€110K',
 '€45M',
 '€88K',
 '€45M',
 '€180K',
 '€37.5M',
 '€96K',
 '€28.5M',
 '€170K',
 '€37M',
 '€66K',
 '€37M',
 '€235K',
 '€32M',
 '€125K',
 '€37.5M',
 '€215K',
 '€39M',
 '€28K',
 '€30M',
 '€115K',
 '€26M',
 '€205K',
 '€37.5M',
 '€110K',
 '€30.5M',
 '€115K',
 '€33M',
 '€160K',
 '€38.5M',
 '€100K',
 '€35.5M',
 '€105K',
 '€9M',
 '€38K',
 '€26M',
 '€145K',
 '€15.5M',
 '€96K',
 '€37M',
 '€240K',
 '€21.5M',
 '€81K',
 '€22M',
 '€170K',
 '€9M',
 '€57K',
 '€14M',
 '€15K',
 '€34M',
 '€105K',
 '€34M',
 '€63K',
 '€32M',
 '€22K',
 '€34M',
 '€135K',
 '€40.5M',
 '€22K',
 '€36.5M',
 '€84K',
 '€42.5M',
 '€165K',
 '€42.5M',
 '€115K',
 '€34M',
 '€120K',
 '€35.5M',
 '€90K',
 '€31.5M',
 '€38K',
 '€38M',
 '€155K',
 '€39M',
 '€72K',
 '€31.5M',
 '€185K',
 '€42M',
 '€93K',
 '€37M',
 '€125K',
 '€25M',
 '€72K',
 '€31.5M',
 '€88K',
 '€29.5M',
 '€105K',
 '€29.5M',
 '€150K',
 '€30M',
 '€45K',
 '€27M',
 '€115K',
 '€24M',
 '€165K',
 '€22M',
 '€74K',
 '€31M',
 '€51K',
 '€24.5M',
 '€165K',
 '€32M',
 '€175K',
 '€27.5M',
 '€105K',
 '€29.5M',
 '€125K',
 '€25M',
 '€160K',
 '€30.5M',
 '€175K',
 '€24M',
 '€42K',
 '€29M',
 '€31K',
 '€24M',
 '€77K',
 '€27.5M',
 '€75K',
 '€16.5M',
 '€25K',
 '€23M',
 '€140K',
 '€19M',
 '€41K',
 '€25M',
 '€115K',
 '€19M',
 '€78K',
 '€18M',
 '€88K',
 '€30M',
 '€53K',
 '€4.2M',
 '€95K',
 '€15.5M',
 '€80K',
 '€15.5M',
 '€110K',
 '€40M',
 '€155K',
 '€41M',
 '€130K',
 '€28M',
 '€51K',
 '€22.5M',
 '€43K',
 '€28.5M',
 '€60K',
 '€30.5M',
 '€82K',
 '€34M',
 '€120K',
 '€34M',
 '€85K',
 '€35.5M',
 '€64K',
 '€34M',
 '€85K',
 '€29.5M',
 '€67K',
 '€36.5M',
 '€18K',
 '€34.5M',
 '€70K',
 '€33M',
 '€91K',
 '€34M',
 '€85K',
 '€30.5M',
 '€28K',
 '€32.5M',
 '€28K',
 '€27M',
 '€205K',
 '€33M',
 '€20K',
 '€32M',
 '€53K',
 '€20M',
 '€22K',
 '€35M',
 '€165K',
 '€28.5M',
 '€84K',
 '€30M',
 '€49K',
 '€34.5M',
 '€85K',
 '€25M',
 '€78K',
 '€26M',
 '€67K',
 '€28.5M',
 '€125K',
 '€33M',
 '€115K',
 '€32.5M',
 '€91K',
 '€31.5M',
 '€110K',
 '€31M',
 '€115K',
 '€27M',
 '€21K',
 '€24.5M',
 '€180K',
 '€24M',
 '€25K',
 '€26.5M',
 '€87K',
 '€19M',
 '€64K',
 '€26.5M',
 '€170K',
 '€30.5M',
 '€57K',
 '€25.5M',
 '€22K',
 '€26.5M',
 '€74K',
 '€21M',
 '€41K',
 '€21M',
 '€42K',
 '€21M',
 '€125K',
 '€25.5M',
 '€145K',
 '€24M',
 '€130K',
 '€13M',
 '€70K',
 '€19M',
 '€86K',
 '€21M',
 '€66K',
 '€26M',
 '€26K',
 '€30.5M',
 '€29K',
 '€27.5M',
 '€55K',
 '€19M',
 '€63K',
 '€26M',
 '€64K',
 '€17.5M',
 '€130K',
 '€20M',
 '€38K',
 '€24.5M',
 '€160K',
 '€15.5M',
 '€55K',
 '€16.5M',
 '€74K',
 '€20M',
 '€35K',
 '€20M',
 '€94K',
 '€20M',
 '€82K',
 '€17.5M',
 '€64K',
 '€13M',
 '€51K',
 '€22M',
 '€140K',
 '€24M',
 '€120K',
 '€11.5M',
 '€72K',
 '€13M',
 '€33K',
 '€8M',
 '€80K',
 '€6M',
 '€56K',
 '€19.5M',
 '€30K',
 '€27M',
 '€11K',
 '€29M',
 '€59K',
 '€32.5M',
 '€125K',
 '€29M',
 '€23K',
 '€16.5M',
 '€46K',
 '€6.5M',
 '€39K',
 '€14M',
 '€32K',
 '€29.5M',
 '€59K',
 '€29M',
 '€36K',
 '€25M',
 '€98K',
 '€31.5M',
 '€140K',
 '€21.5M',
 '€21K',
 '€25.5M',
 '€53K',
 '€26M',
 '€135K',
 '€26M',
 '€54K',
 '€24.5M',
 '€98K',
 '€20M',
 '€33K',
 '€29.5M',
 '€110K',
 '€30.5M',
 '€68K',
 '€24.5M',
 '€95K',
 '€29M',
 '€94K',
 '€25.5M',
 '€95K',
 '€26.5M',
 '€84K',
 '€25.5M',
 '€59K',
 '€26.5M',
 '€140K',
 '€20M',
 '€96K',
 '€30M',
 '€58K',
 '€26M',
 '€67K',
 '€26.5M',
 '€140K',
 '€21.5M',
 '€27K',
 '€22.5M',
 '€40K',
 '€22.5M',
 '€110K',
 '€20.5M',
 '€73K',
 '€23.5M',
 '€77K',
 '€21M',
 '€87K',
 '€18.5M',
 '€41K',
 '€27.5M',
 '€46K',
 '€29.5M',
 '€165K',
 '€21M',
 '€44K',
 '€28.5M',
 '€135K',
 '€18M',
 '€135K',
 '€23.5M',
 '€28K',
 '€26M',
 '€33K',
 '€26M',
 '€26K',
 '€28.5M',
 '€78K',
 '€28.5M',
 '€67K',
 '€22.5M',
 '€31K',
 '€21M',
 '€32K',
 '€21M',
 '€19K',
 '€26.5M',
 '€44K',
 '€18.5M',
 '€1K',
 '€19.5M',
 '€43K',
 '€21.5M',
 '€61K',
 '€19.5M',
 '€46K',
 '€27M',
 '€67K',
 '€22.5M',
 '€115K',
 '€21.5M',
 '€84K',
 '€21M',
 '€140K',
 '€22M',
 '€115K',
 '€18.5M',
 '€50K',
 '€21M',
 '€1K',
 '€17M',
 '€77K',
 '€21M',
 '€1K',
 '€25M',
 '€130K',
 '€18.5M',
 '€99K',
 '€12.5M',
 '€73K',
 '€22.5M',
 '€125K',
 '€20M',
 '€15K',
 '€22M',
 '€120K',
 '€21M',
 '€22K',
 '€18M',
 '€125K',
 '€21.5M',
 '€45K',
 '€9M',
 '€59K',
 '€17M',
 '€18K',
 '€12.5M',
 '€57K',
 '€12.5M',
 '€1K',
 '€23M',
 '€130K',
 '€15M',
 '€73K',
 '€20M',
 '€140K',
 '€15M',
 '€73K',
 '€19M',
 '€35K',
 '€15M',
 '€44K',
 '€12.5M',
 '€17K',
 '€13.5M',
 '€45K',
 '€12.5M',
 '€15K',
 '€12.5M',
 '€115K',
 '€13.5M',
 '€52K',
 '€12.5M',
 '€98K',
 '€4.8M',
 '€62K',
 '€8M',
 '€12K',
 '€8M',
 '€29K',
 '€3M',
 '€60K',
 '€1.5M',
 '€10K',
 '€27M',
 '€110K',
 '€17M',
 '€40K',
 '€26.5M',
 '€54K',
 '€21M',
 '€49K',
 '€26M',
 '€19K',
 '€20M',
 '€125K',
 '€24M',
 '€36K',
 '€26M',
 '€64K',
 '€21M',
 '€105K',
 '€25M',
 '€120K',
 '€24M',
 '€22K',
 '€17M',
 '€33K',
 '€20.5M',
 '€73K',
 '€22.5M',
 '€57K',
 '€18.5M',
 '€64K',
 '€24.5M',
 '€31K',
 '€24.5M',
 '€54K',
 '€21.5M',
 '€91K',
 '€22.5M',
 '€71K',
 '€17M',
 '€36K',
 '€20M',
 '€58K',
 '€24.5M',
 '€64K',
 '€19M',
 '€64K',
 '€20.5M',
 '€14K',
 '€24M',
 '€54K',
 '€19.5M',
 '€60K',
 '€22.5M',
 '€14K',
 '€16M',
 '€45K',
 '€22M',
 '€40K',
 '€18.5M',
 '€87K',
 '€18.5M',
 '€36K',
 '€25.5M',
 '€71K',
 '€22.5M',
 '€54K',
 '€20M',
 '€105K',
 '€17M',
 '€35K',
 '€18M',
 '€57K',
 '€21.5M',
 '€40K',
 '€18M',
 '€76K',
 '€21M',
 '€48K',
 '€16.5M',
 '€68K',
 '€15M',
 '€27K',
 '€17M',
 '€41K',
 '€22M',
 '€76K',
 '€23.5M',
 '€59K',
 '€18M',
 '€65K',
 '€22M',
 '€115K',
 '€17.5M',
 '€26K',
 '€17M',
 '€76K',
 '€19.5M',
 '€77K',
 '€16M',
 '€115K',
 '€13M',
 '€56K',
 '€19M',
 '€130K',
 '€21.5M',
 '€18K',
 '€16.5M',
 '€61K',
 '€17.5M',
 '€42K',
 '€17.5M',
 '€140K',
 '€18.5M',
 '€19K',
 '€21M',
 '€77K',
 '€16M',
 '€130K',
 '€15.5M',
 '€25K',
 '€17.5M',
 '€65K',
 '€23M',
 '€90K',
 '€18.5M',
 '€1K',
 '€18M',
 '€43K',
 '€16M',
 '€59K',
 '€17.5M',
 '€84K',
 '€10M',
 '€52K',
 '€13M',
 '€1K',
 '€14M',
 '€23K',
 '€14M',
 '€69K',
 '€11M',
 '€86K',
 '€15.5M',
 '€32K',
 '€15M',
 '€65K',
 '€7M',
 '€57K',
 '€15.5M',
 '€74K',
 '€17M',
 '€46K',
 '€21M',
 '€105K',
 '€14.5M',
 '€92K',
 '€17.5M',
 '€15K',
 '€16.5M',
 '€28K',
 '€10M',
 '€120K',
 '€9M',
 '€70K',
 '€15M',
 '€85K',
 '€11M',
 '€74K',
 '€8M',
 '€39K',
 '€14M',
 '€56K',
 '€14M',
 '€1K',
 '€17.5M',
 '€20K',
 '€11M',
 '€41K',
 '€15.5M',
 '€19K',
 '€13.5M',
 '€120K',
 '€5.5M',
 '€18K',
 '€6M',
 '€24K',
 '€20.5M',
 '€25K',
 '€22M',
 '€32K',
 '€22.5M',
 '€51K',
 '€23.5M',
 '€51K',
 '€21M',
 '€31K',
 '€18.5M',
 '€115K',
 '€19.5M',
 '€11K',
 '€10.5M',
 '€34K',
 '€4.5M',
 '€34K',
 '€21M',
 '€29K',
 '€15.5M',
 '€80K',
 '€16M',
 '€19K',
 '€17.5M',
 '€33K',
 '€17M',
 '€50K',
 '€14.5M',
 '€14K',
 '€20M',
 '€72K',
 '€12.5M',
 '€16K',
 '€20.5M',
 '€59K',
 '€20M',
 '€140K',
 '€12M',
 '€19K',
 '€17.5M',
 '€73K',
 '€14.5M',
 '€63K',
 '€17M',
 '€85K',
 '€20M',
 '€50K',
 '€18.5M',
 '€17K',
 '€20M',
 '€65K',
 '€14M',
 '€26K',
 '€9M',
 '€22K',
 '€20M',
 '€65K',
 '€20M',
 '€40K',
 '€19.5M',
 '€37K',
 '€16.5M',
 '€33K',
 '€19.5M',
 '€130K',
 '€15M',
 '€20K',
 '€19.5M',
 '€47K',
 '€13M',
 '€23K',
 '€19.5M',
 '€91K',
 '€19.5M',
 '€89K',
 '€15.5M',
 '€28K',
 '€15.5M',
 '€88K',
 '€12M',
 '€1K',
 '€16.5M',
 '€96K',
 '€12M',
 '€29K',
 '€19M',
 '€41K',
 '€17.5M',
 '€97K',
 '€14M',
 '€30K',
 '€17.5M',
 '€37K',
 '€19.5M',
 '€105K',
 '€14.5M',
 '€24K',
 '€11.5M',
 '€17K',
 '€13M',
 '€48K',
 '€16.5M',
 '€85K',
 '€14M',
 '€39K',
 '€14M',
 '€39K',
 '€14.5M',
 '€51K',
 '€15.5M',
 '€56K',
 '€18.5M',
 '€56K',
 '€16.5M',
 '€73K',
 '€16M',
 '€38K',
 '€11.5M',
 '€53K',
 '€11.5M',
 '€1K',
 '€14.5M',
 '€37K',
 '€16M',
 '€79K',
 '€17.5M',
 '€42K',
 '€16M',
 '€30K',
 '€11.5M',
 '€55K',
 '€17.5M',
 '€24K',
 '€18M',
 '€19K',
 '€19.5M',
 '€94K',
 '€15.5M',
 '€82K',
 '€15M',
 '€99K',
 '€12M',
 '€1K',
 '€15.5M',
 '€34K',
 '€15M',
 '€92K',
 '€13.5M',
 '€27K',
 '€12M',
 '€15K',
 '€15M',
 '€44K',
 '€15.5M',
 '€81K',
 '€15.5M',
 '€65K',
 '€12M',
 '€35K',
 '€11.5M',
 '€63K',
 '€12M',
 '€22K',
 '€12.5M',
 '€16K',
 '€17.5M',
 '€52K',
 '€15.5M',
 '€30K',
 '€15M',
 '€59K',
 '€16M',
 '€23K',
 '€9M',
 '€48K',
 ...]